<%= form_with(model: saving, local: true) do |form| %>
  <% if saving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saving.errors.count, "error") %> prohibited this saving from being saved:</h2>

      <ul>
      <% saving.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_area :type %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :recurring %>
    <%= form.check_box :recurring %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
