  <div class="cell small-8 large-2" style="text-align: center;">

<%= form_with(model: saving, local: true) do |form| %>
  <% if saving.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(saving.errors.count, "error") %> prohibited this saving from being saved:</h2>

      <ul>
        <% saving.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <div class="field">
        <%= form.label :name %>
          <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :amount %>
	<%= form.number_field :amount, :step => 0.01 %>
      </div>

      <div class="field">
        <%= form.label :category %>
          <%= form.select :category, options_for_select(Saving::CATEGORIES, saving.category) %>
      </div>

      <div class="field">
        <%= form.label :annual_budget_id %>
          <%= form.collection_select(:annual_budget_id, AnnualBudget.all, :id, :name) %>
      </div>

      <div class="actions">
        <%= form.submit "Update", { class: "button", style: "color: white;" } %>
      </div>
      <% end %>
</div>
