<p id="notice"><%= notice %></p>
<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
<h1>Savings</h1>
  </div>
  <div class="cell small-6" style="text-align: center;">
  
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Budget</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @savings.order(:save_date).each do |saving| %>
      <tr>
        <td><%= saving.name %></td>
        <td>$<%= '%.2f' % saving.amount %></td>
        <td><%= saving.category %></td>
        <td><%= link_to "#{saving.annual_budget.name}", annual_budget_path(saving.annual_budget_id) %></td>
        <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
        <td><%= link_to 'Destroy', saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
<br>
  <div class="cell" style="text-align: center;">

<%= link_to 'New Saving', new_saving_path, { class: "button", style: "color: white;" } %>
  </div>
</div>
