<p id="notice"><%= notice %></p>

<h1>Savings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Recurring</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @savings.order(:save_date).each do |saving| %>
      <tr>
        <td><%= saving.name %></td>
        <td><%= saving.save_date %></td>
        <td><%= saving.amount %></td>
        <td><%= saving.category %></td>
        <td><%= saving.recurring %></td>
        <td><%= link_to 'Go to Budget', annual_budget_path(saving.annual_budget_id) %></td>
        <td><%= link_to 'Show', saving %></td>
        <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
        <td><%= link_to 'Destroy', saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saving', new_saving_path %>
