<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @saving.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @saving.name %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @saving.recurring %>
</p>

<p>
  <strong>Date:</strong>
  <%= @saving.save_date %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
