<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @saving.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @saving.save_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @saving.category %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @saving.recurring %>
</p>

<p>
  <strong>Attached to Budget:</strong>
  <%= @saving.get_attached_budget_name %>
</p>

<%= link_to 'Show Budget', annual_budget_path(@saving.annual_budget_id) %> |
<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Clone', clone_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
