<p id="notice"><%= notice %></p>
<div class="grid-x align-center">
  <div class="cell small-6" style="text-align: center;">
<p>
  <strong>Name:</strong><br>
  <%= @saving.name %>
</p>

<p>
  <strong>Amount:</strong><br>
  <%= @saving.amount %>
</p>

<p>
  <strong>Category:</strong><br>
  <%= @saving.category %>
</p>

<p>
  <strong>Attached to Budget:</strong><br>
<%= link_to "#{@saving.annual_budget.name}", annual_budget_path(@saving.annual_budget_id), { class: "button", style: "color: white;" } %>
</p>

<p>
  <strong>Attached Months:</strong><br>
  <% @saving.months.each do |m| %>
  <% if m == @saving.months.last %>
        <%= m.name_as_month_year %>
      <% else %>
        <%= m.name_as_month_year %> | 
      <% end %>
  <% end %>
</p>
    
    <hr>
   
<% if @saving.months.length < 12 %>
<%= form_with(model: @saving, local: true, url: { action: 'add_single_month' }) do |form| %>
  <% if @saving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saving.errors.count, "error") %> prohibited this Saving from being saved:</h2>

      <ul>
        <% @saving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= form.label 'Attach to month:' %>
  <%= form.collection_select(:month_ids, Month.where(annual_budget_id: @saving.annual_budget_id) - @saving.months, :id, :name_as_month_year) %>
</div>

  <div class="actions">
    <%= form.submit 'Attach' %>
  </div>
<% end %>
<% end %>

<% if @saving.months.length < 12 %>
  <p>OR:</p>
  <%= button_to('Add to all months in attached budget', action: 'distribute') %>
<% end %>

    <hr>
    
<% if @saving.months.length > 0 %>
<%= form_with(model: @saving, local:true, url: { action: 'remove_single_month' }) do |form| %>
  <% if @saving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saving.errors.count, "error") %> prohibited this month from being removed:</h2>
      
      <ul>
        <% @saving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= form.label 'Remove from month:' %>
  <%= form.collection_select(:month_ids, @saving.months, :id, :name_as_month_year) %>
</div>

  <div class="actions">
    <%= form.submit 'Remove' %>
  </div>
<% end %>
<% end %>

    <hr>
      <div class="cell" style="text-align: center;">

<%= link_to 'Edit', edit_saving_path(@saving), { class: "button", style: "color: white;" } %> |
<%= link_to 'Clone', clone_saving_path(@saving), { class: "button", style: "color: white;" } %> |
<%= link_to 'Back', savings_path, { class: "button", style: "color: white;" } %>
  </div>
</div>