<p id="notice"><%= notice %></p>
<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
<h1>Bills</h1>
  </div>
  <div class="cell small-6">
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Withdrawal date</th>
      <th>Amount</th>
      <th>Budget</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.name %></td>
        <td><%= bill.withdrawal_date %></td>
        <td>$<%= '%.2f' % bill.amount %></td>
        <td><%= link_to "#{bill.annual_budget.name}", annual_budget_path(bill.annual_budget_id) %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>


<br>
  <div class="cell" style="text-align: center;">
<%= link_to 'New Bill', new_bill_path, { class: "button", style: "color: white" } %>
  </div>
</div>
