<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Withdrawal date:</strong>
  <%= @bill.withdrawal_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @bill.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bill.end_date %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @bill.recurring %>
</p>

<p>
  <strong>Attached Budget:</strong>
  <%= @bill.get_attached_budget_name %>
</p>

<%= link_to 'Show Budget', annual_budget_path(@bill.annual_budget_id) %> |
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Clone', clone_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

