<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @bill.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bill.end_date %>
</p>

<p>
  <strong>Withdrawal data:</strong>
  <%= @bill.withdrawal_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @bill.recurring %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Clone', clone_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

