<p id="notice"><%= notice %></p>
<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
<h1>Incomes</h1>
  </div>
  <div class="cell small-10" style="text-align: center;">
<table>
  <thead>
  <tr>
    <th>Source</th>
    <th>Pay Date</th>
    <th>Gross Amount</th>
    <th>Federal Tax</th>
    <th>State Tax</th>
    <th>Social Security Tax</th>
    <th>Medicare Tax</th>
    <th>Net Amount</th>
    <th>Budget</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
         <% @incomes.order(:use_month, :source).each do |income| %>
      <tr>
        <td><%= income.source %></td>
        <td><%= income.pay_date %></td>
        <td>$<%= '%.2f' % income.gross_amount %></td>
        <td>$<%= '%.2f' % income.federal_tax %></td>
        <td>$<%= '%.2f' % income.state_tax %></td>
        <td>$<%= '%.2f' % income.social_sec_tax %></td>
        <td>$<%= '%.2f' % income.medicare_tax %></td>
        <td>$<%= '%.2f' % income.net_amount %></td>
        <td><%= link_to "#{income.annual_budget.name}", annual_budget_path(income.annual_budget_id) %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Delete', income, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  </div>
  <div class="cell" style="text-align: center;">
<%= link_to 'New Income', new_income_path, { class: "button", style: "color: white;" } %>
  </div>
</div>