<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @income.source %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @income.pay_date %>
</p>

<p>
  <strong>Gross:</strong>
  <%= '%.2f' % @income.gross_amount %>
</p>

<p>
  <strong>Federal tax:</strong>
  <%= '%.2f' % @income.federal_tax %>
</p>

<p>
  <strong>State tax:</strong>
  <%= '%.2f' % @income.state_tax %>
</p>

<p>
  <strong>Social sec tax:</strong>
  <%= '%.2f' % @income.social_sec_tax %>
</p>

<p>
  <strong>Medicare tax:</strong>
  <%= '%.2f' % @income.medicare_tax %>
</p>

<p>
  <strong>Net:</strong>
  <%= '%.2f' % @income.net_amount %>
</p>

<p>
  <strong>Attached to Budget:</strong>
  <%= @income.get_attached_budget_name %>
</p>

<p>
  <strong>Attached to Month:</strong>
  <% @income.months.each do |m| %>
    <%= m.name_as_month_year %>
  <% end %>
</p>

<%= link_to 'Show Budget', annual_budget_path(@income.annual_budget_id) %>
<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Clone', clone_income_path(@income) %>
<%= link_to 'Back', incomes_path %>
