
  <div class="cell small-6" style="text-align: center;">
<%= form_with(model: annual_budget, local: true) do |form| %>
  <% if annual_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annual_budget.errors.count, "error") %> prohibited this annual_budget from being saved:</h2>

      <ul>
      <% annual_budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.select :year, Date.today.year..Date.today.year.next %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', { class: "button", style: "color: white;" } %>
  </div>

<% end %>
</div>