<p id="notice"><%= notice %></p>
<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
<h1>Annual Budgets</h1>
  </div>
  <div class="cell small-6">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @annual_budgets.each do |annual_budget| %>
          <tr>
            <td><%= annual_budget.name %></td>
            <td><%= annual_budget.year %></td>
            <td><%= link_to 'Show', annual_budget %></td>
            <td><%= link_to 'Edit', edit_annual_budget_path(annual_budget) %></td>
            <td><%= link_to 'Delete', annual_budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
<br>
<div class="cell" style="text-align: center;">
<%= link_to 'New Annual Budget', new_annual_budget_path %>
  </div>
</div>