<p id="notice">
  <%= notice %>
</p>
  <div class="grid-x align-center">
    <div class="cell">
      <h2 style="text-align: center;">
        <%= @annual_budget.name %>
      </h2>
    </div>
</div>
<div class="grid-x align-center">
    <div class="cell">
      <h2 style="text-align: center;">
        <%= @annual_budget.year %>
      </h2>
    </div>
  </div>

<p>
  <%= render 'layouts/months' %>
</p>
<div class="grid-x" style="text-align: center;">
  <div class="cell">
    <%= link_to 'Edit this Budget', edit_annual_budget_path(@annual_budget), { class: "button", style: "color: white;" } %>
  </div>
</div>
