<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @annual_budget.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_budget.year %>
</p>

<table>
  <thead>
  <tr>
    <th>REMOVE THIS</th>
    <th>Bills</th>
    <th>Savings</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= render 'incomes/month', incomes: @incomes %>
      </td>
      <td>
        <% @bills.each do |bill| %>
          <%= bill.name %> <br>
        <% end %>
      </td>
      <td>
        <% @savings.each do |saving| %>
          <%= saving.name %> <br>
        <% end %>
      </td>

    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_annual_budget_path(@annual_budget) %> |
<%= link_to 'Back', annual_budgets_path %> |
<%= link_to 'New Income', new_income_path %> |
<%= link_to 'New Bill', new_bill_path %> |
<%= link_to 'New Saving', new_saving_path %>
