<p id="notice">
  <%= notice %>
</p>
  <div class="grid-x align-center">
    <div class="cell">
      <h2 style="text-align: center;">
        <%= @annual_budget.name %> Budget
      </h2>
    </div>
</div>
<div class="grid-x align-center">
    <div class="cell">
      <h2 style="text-align: center;">
        <%= @annual_budget.year %>
      </h2>
    </div>
  </div>




<p>
  <%= render 'layouts/month' %>
</p>

<%= link_to 'Edit', edit_annual_budget_path(@annual_budget) %> |
  <%= link_to 'Back', annual_budgets_path %> |
    <%= link_to 'New Income', new_income_path %> |
      <%= link_to 'New Bill', new_bill_path %> |
        <%= link_to 'New Saving', new_saving_path %>