<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Name:</strong>
  <%= @annual_budget.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_budget.year %>
</p>

<p>
  <%= render 'layouts/month' %>
</p>

<%= link_to 'Edit', edit_annual_budget_path(@annual_budget) %> |
  <%= link_to 'Back', annual_budgets_path %> |
    <%= link_to 'New Income', new_income_path %> |
      <%= link_to 'New Bill', new_bill_path %> |
        <%= link_to 'New Saving', new_saving_path %>