<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @annual_budget.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_budget.year %>
</p>

  <% MONTHHASH.keys.each do |month| %>
  <h2><%= month %></h2>

  <%= render 'layouts/income', this_month: month %>

  <%= render 'layouts/bill', this_month: month %>

  <%= render 'layouts/saving', this_month: month %>

  <%= render 'layouts/leftover', this_month: month %>
  <hr>
<% end %>


<%= link_to 'Edit', edit_annual_budget_path(@annual_budget) %> |
<%= link_to 'Back', annual_budgets_path %> |
<%= link_to 'New Income', new_income_path %> |
<%= link_to 'New Bill', new_bill_path %> |
<%= link_to 'New Saving', new_saving_path %>

