<table>
      <% @annual_budget.months.order(:name).each do |month| %>
  <thead>
    <tr>
      <th>
        <h2>
          <%= month.month_name_only_as_symbol %></th>
        </h2>
      </th>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>
        <h3>
          Bills:
        </h3>
      </td>
</tr>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th>Amount</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>

    <% month.bills.order(:name).each do |bill| %>
        <tr>
          <td>
            <%= bill.name %> <%= bill.id %>
          </td>
          <td>
            <%= bill.withdrawal_date.day %>
          </td>
          <td>
            <%= '%.2f' % bill.amount %>
          </td>
          <td>
            <%= (bill.amount.to_f / month.bills.sum(&:amount) * 100).round(2) %> %
          </td>
          <td>
            <%= link_to 'Show', bill %>
          </td>
          <td>
            <%= link_to 'Edit', edit_bill_path(bill) %>
          </td>
          <td>
            <%= link_to 'Destroy', bill, method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
          
        </tr>
        <% end %>
            <tr>
              <td>TOTAL:</td>
              <td></td>
              <td>
                <%= '%.2f' % month.bills.sum(&:amount) %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
  </tbody>
          <% end %>
</table>