<table>
      <% @annual_budget.months.order(:name).each do |month| %>
  <thead>
    <tr>
      <th>
        <h2>
          <%= month.month_name_only_as_symbol %></th>
        </h2>
      </th>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>
        <h3>
          Bills:
        </h3>
      </td>
</tr> 
    <tr>
      <th>Source</th>
      <th>Pay Date</th>
      <th>Use Month</th>
      <th>Gross</th>
      <th>Federal Tax</th>
      <th>State Tax</th>
      <th>Social Security Tax</th>
      <th>Medicare Tax</th>
      <th>Net</th>
      <th>Percent of Net</th>
      <th colspan="3"></th>
    </tr>
    <% month.incomes.order(:source).each do |income| %>

      <tr>
        <td><%= income.source %></td>
        <td><%= income.pay_date %></td>
        <td><%= income.use_month.month %></td>
        <td><%= '%.2f' % income.gross_amount %></td>
        <td><%= '%.2f' % income.federal_tax %></td>
        <td><%= '%.2f' % income.state_tax %></td>
        <td><%= '%.2f' % income.social_sec_tax %></td>
        <td><%= '%.2f' % income.medicare_tax %></td>
        <td><%= '%.2f' % income.net_amount %></td>
        <% if income.net_amount == 0 %>
          <td>0</td>
        <% else %>
          <td><%= (income.net_amount.to_f / month.incomes.sum(&:net_amount) * 100).round(2) %> %</td>
        <% end %>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
        <% end %>
    <tr>
      <td>TOTAL:</td>
      <td></td>
      <td></td>
      <td><%= '%.2f' % month.incomes.sum(&:gross_amount) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:federal_tax) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:state_tax) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:social_sec_tax) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:medicare_tax) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:net_amount) %></td>
    </tr>
  </tbody>
  <% end %>
  </table>