<% if month.incomes.empty? %>
<h3>
  No Incomes For This Month
</h3>
<% else %>
<div class="table-scroll grid-x align-center">
<table>
  <thead>
    <tr>
      <th>Pay Date</th>
      <th>Source</th>
      <th>Gross Pay</th>
      <th>Net Pay</th>
      <th>Percent of Net</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% month.incomes.order(:source).each do |income| %>
      <tr>
        <td><%= income.pay_date.strftime("%d %B") %></td>
        <td><%= income.source %></td>
        <td><%= '%.2f' % income.gross_amount %></td>
        <td><%= '%.2f' % income.net_amount %></td>
        <td><%= get_single_percentage(month, income.net_amount) %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Delete', income, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
        <% end %>
    <tr>
      <td>TOTAL:</td>
      <td></td>
      <td><%= '%.2f' % month.incomes.sum(&:gross_amount) %></td>
      <td><%= '%.2f' % month.incomes.sum(&:net_amount) %></td>
      <td><%= get_total_percentage(month, 'incomes') %></td>
      <td><%= link_to 'Add', new_income_path %></td>
      <td colspan="2"><%= link_to 'See All', incomes_path %></td>
    </tr>
  </tbody>
</table>
</div>
<% end %>
<div class="grid-x align-center grid-margin-x" style="text-align: center;">
  <div class="cell small-3">
    <%= link_to 'Add An Income', new_income_path, {class: "button small", style: "color: white;"} %>
  </div>
  <div class="cell small-3">
    <%= link_to 'See All Incomes', incomes_path, {class: "button small", style: "color: white;"} %>
  </div>
</div>