<ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
  <% @annual_budget.months.order(:name).each do |month| %>
    <li class="accordion-item" data-accordion-item>
      <!-- Accordion tab title -->
      <a href="#" class="accordion-title" style="background-color: lightgray; border-color: black;"><%= month.name.strftime("%B %y") %></a>
      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        <ul class="tabs" data-tabs id="<%= month.name %>">
          <li class="tabs-title is-active"><a href="#<%= month.name %>incomes" aria-selected="true">Income</a></li>
          <li class="tabs-title"><a data-tabs-target="<%= month.name %>bills" href="#<%= month.name %>bills">Bills</a></li>
          <li class="tabs-title"><a data-tabs-target="<%= month.name %>savings" href="#<%= month.name %>savings">Savings</a></li>
          <li class="tabs-title"><a data-tabs-target="<%= month.name %>leftover" href="#<%= month.name %>leftover">Spending</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="<%= month.name %>">
          <div class="tabs-panel is-active" id="<%= month.name %>incomes">
            <table>
              <thead>
                <tr>
                  <th>Source</th>
                  <th>Pay Date</th>
                  <th>Use Month</th>
                  <th>Gross</th>
                  <th>Federal Tax</th>
                  <th>State Tax</th>
                  <th>Social Security Tax</th>
                  <th>Medicare Tax</th>
                  <th>Net</th>
                  <th>Percent of Net</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% month.incomes.order(:source).each do |income| %>

                  <tr>
                    <td><%= income.source %></td>
                    <td><%= income.pay_date %></td>
                    <td><%= income.use_month.month %></td>
                    <td><%= '%.2f' % income.gross_amount %></td>
                    <td><%= '%.2f' % income.federal_tax %></td>
                    <td><%= '%.2f' % income.state_tax %></td>
                    <td><%= '%.2f' % income.social_sec_tax %></td>
                    <td><%= '%.2f' % income.medicare_tax %></td>
                    <td><%= '%.2f' % income.net_amount %></td>
                    <% if income.net_amount == 0 %>
                      <td>0</td>
                    <% else %>
                      <td><%= (income.net_amount.to_f / month.incomes.sum(&:net_amount) * 100).round(2) %> %</td>
                    <% end %>
                    <td><%= link_to 'Show', income %></td>
                    <td><%= link_to 'Edit', edit_income_path(income) %></td>
                    <td><%= link_to 'Destroy', income, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
                    <% end %>
                <tr>
                  <td>TOTAL:</td>
                  <td></td>
                  <td></td>
                  <td><%= '%.2f' % month.incomes.sum(&:gross_amount) %></td>
                  <td><%= '%.2f' % month.incomes.sum(&:federal_tax) %></td>
                  <td><%= '%.2f' % month.incomes.sum(&:state_tax) %></td>
                  <td><%= '%.2f' % month.incomes.sum(&:social_sec_tax) %></td>
                  <td><%= '%.2f' % month.incomes.sum(&:medicare_tax) %></td>
                  <td><%= '%.2f' % month.incomes.sum(&:net_amount) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tabs-panel" id="<%= month.name %>bills">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Day</th>
                  <th>Amount</th>
                  <th>Percentage</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% month.bills.order(:name).each do |bill| %>
                    <tr>
                      <td>
                        <%= bill.name %> <%= bill.id %>
                      </td>
                      <td>
                        <%= bill.withdrawal_date.day %>
                      </td>
                      <td>
                        <%= '%.2f' % bill.amount %>
                      </td>
                      <td>
                        <%= (bill.amount.to_f / month.bills.sum(&:amount) * 100).round(2) %> %
                      </td>
                      <td>
                        <%= link_to 'Show', bill %>
                      </td>
                      <td>
                        <%= link_to 'Edit', edit_bill_path(bill) %>
                      </td>
                      <td>
                        <%= link_to 'Destroy', bill, method: :delete, data: {confirm: 'Are you sure?'} %>
                      </td>

                    </tr>
                    <% end %>
                        <tr>
                          <td>TOTAL:</td>
                          <td></td>
                          <td>
                            <%= '%.2f' % month.bills.sum(&:amount) %>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
              </tbody>
            </table>
          </div>
          <div class="tabs-panel" id="<%= month.name %>savings">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Category</th>
                  <th>Percentage</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% month.savings.order(:name).each do |saving| %>
                  <tr>
                    <td><%= saving.name %></td>
                    <td><%= '%.2f' % saving.amount %></td>
                    <td><%= saving.category %></td>
                    <td><%= (saving.amount.to_f / month.savings.sum(&:amount) * 100).round(2) %></td>
                    <td><%= link_to 'Show', saving %></td>
                    <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
                    <td><%= link_to 'Destroy', saving, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>TOTAL:</td>
                  <td><%= '%.2f' % month.savings.sum(&:amount) %></td>
              </tr>
              </tbody>
              </table>
          </div>
          <div class="tabs-panel" id="<%= month.name %>leftover">
            <table>
              <thead>
              <tr>
                <th>Leftover for Spending</th>
              </tr>
              </thead>
              <tbody>
              <% if @leftovers <= 0 %>
                <tr>
                  <td><strong>No Spending This Month</strong></td>
                </tr>
              <% else %>
                <tr>
                  <th>Amount: <%= '%.2f' % @leftovers %></th>
                </tr>
                <tr>
                  <td>Amount Per Week (4 Weeks): <%= '%.2f' % (@leftovers / 4) %></td>
                </tr>
                <tr>
                  <td>Amount Per Week (5 Weeks): <%= '%.2f' % (@leftovers / 5) %></td>
                </tr>
              <% end %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>